<%= form_with(model: [item, clothes_diagnosis]) do |form| %>
  <% if clothes_diagnosis.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(clothes_diagnosis.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
      <% clothes_diagnosis.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card answer_field w-50 p-3">
    <div class="card-header">問1：日用品<br>
      <div class="card-body">
        <%= form.label :one_answer, 'あてはまる' %>
        <%= form.radio_button :one_answer, :good_one %><br>
        <%= form.label :one_answer, 'どちらでもない' %>
        <%= form.radio_button :one_answer, :normal_one %><br>
        <%= form.label :one_answer, 'あてはまらない' %>
        <%= form.radio_button :one_answer, :bad_one %>
      </div>
    </div>
  </div>

  <br>

  <div class="card answer_field w-50 p-3">
    <div class="card-header">問1：日用品<br>
      <div class="card-body">
        <%= form.label :two_answer, 'あてはまる' %>
        <%= form.radio_button :two_answer, :good_two %><br>
        <%= form.label :two_answer, 'どちらでもない' %>
        <%= form.radio_button :two_answer, :normal_two %><br>
        <%= form.label :two_answer, 'あてはまらない' %>
        <%= form.radio_button :two_answer, :bad_two %>
      </div>
    </div>
  </div>

  <br>

  <div class="card answer_field w-50 p-3">
    <div class="card-header">問1：日用品<br>
      <div class="card-body">
        <%= form.label :three_answer, 'あてはまる' %>
        <%= form.radio_button :three_answer, :good_three %><br>
        <%= form.label :three_answer, 'どちらでもない' %>
        <%= form.radio_button :three_answer, :normal_three %><br>
        <%= form.label :three_answer, 'あてはまらない' %>
        <%= form.radio_button :three_answer, :bad_three %>
      </div>
    </div>
  </div>

  <br>

  <div class="card answer_field w-50 p-3">
    <div class="card-header">問1：日用品<br>
      <div class="card-body">
        <%= form.label :four_answer, 'あてはまる' %>
        <%= form.radio_button :four_answer, :good_four %><br>
        <%= form.label :four_answer, 'どちらでもない' %>
        <%= form.radio_button :four_answer, :normal_four %><br>
        <%= form.label :four_answer, 'あてはまらない' %>
        <%= form.radio_button :four_answer, :bad_four %>
      </div>
    </div>
  </div>

  <br>

  <div class="card answer_field w-50 p-3">
    <div class="card-header">問1：日用品<br>
      <div class="card-body">
        <%= form.label :five_answer, 'あてはまる' %>
        <%= form.radio_button :five_answer, :bad_five %><br>
        <%= form.label :five_answer, 'どちらでもない' %>
        <%= form.radio_button :five_answer, :normal_five %><br>
        <%= form.label :five_answer, 'あてはまらない' %>
        <%= form.radio_button :five_answer, :good_five %>
      </div>
    </div>
  </div>

  <br>

  <div class="actions d-flex justify-content-center">
    <%= form.submit '診断する' %>
  </div>

<% end %>