<%= form_with(model: [item, goods_diagnosis]) do |form| %>
  <% if goods_diagnosis.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(goods_diagnosis.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
      <% goods_diagnosis.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- 質問1 --->
  <div class="d-flex justify-content-center text-center">
    <div class="answer_field">
      <div class="mb-2">1年を通して一度も活躍しなかった</div>
      <div class="shadow-sm p-3 mb-5 bg-light rounded">
        <%= form.radio_button :one_answer, :good_one, required: :firefox, id: "radio_button1" %>
        <%= form.label :one_answer, 'あてはまる', class: 'mr-5'%>
        <%= form.radio_button :one_answer, :normal_one, id: "radio_button2" %>
        <%= form.label :one_answer, 'どちらでもない', class: 'mr-5' %>
        <%= form.radio_button :one_answer, :bad_one, id: "radio_button3" %>
        <%= form.label :one_answer, 'あてはまらない' %>
      </div>
    </div>
  </div>

    <br>

  <!-- 質問2 --->
  <div class="d-flex justify-content-center text-center">
    <div class="answer_field">
      <div class="mb-2">1年を通して一度も活躍しなかった</div>
      <div class="shadow-sm p-3 mb-5 bg-light rounded">
        <%= form.radio_button :two_answer, :good_two, required: :firefox, id: "radio_button4" %>
        <%= form.label :two_answer, 'あてはまる', class: 'mr-5'%>
        <%= form.radio_button :two_answer, :normal_two, id: "radio_button5" %>
        <%= form.label :two_answer, 'どちらでもない', class: 'mr-5' %>
        <%= form.radio_button :two_answer, :bad_two, id: "radio_button6" %>
        <%= form.label :two_answer, 'あてはまらない' %>
      </div>
    </div>
  </div>

    <br>

  <!-- 質問3 --->
  <div class="d-flex justify-content-center text-center">
    <div class="answer_field">
      <div class="mb-2">1年を通して一度も活躍しなかった</div>
      <div class="shadow-sm p-3 mb-5 bg-light rounded">
        <%= form.radio_button :three_answer, :good_three, required: :firefox, id: "radio_button7" %>
        <%= form.label :three_answer, 'あてはまる', class: 'mr-5'%>
        <%= form.radio_button :three_answer, :normal_three, id: "radio_button8" %>
        <%= form.label :three_answer, 'どちらでもない', class: 'mr-5' %>
        <%= form.radio_button :three_answer, :bad_three, id: "radio_button9" %>
        <%= form.label :three_answer, 'あてはまらない' %>
      </div>
    </div>
  </div>

    <br>

  <!-- 質問4 --->
  <div class="d-flex justify-content-center text-center">
    <div class="answer_field">
      <div class="mb-2">1年を通して一度も活躍しなかった</div>
      <div class="shadow-sm p-3 mb-5 bg-light rounded">
        <%= form.radio_button :four_answer, :good_four, required: :firefox, id: "radio_button10" %>
        <%= form.label :four_answer, 'あてはまる', class: 'mr-5'%>
        <%= form.radio_button :four_answer, :normal_four, id: "radio_button11" %>
        <%= form.label :four_answer, 'どちらでもない', class: 'mr-5' %>
        <%= form.radio_button :four_answer, :bad_four, id: "radio_button12" %>
        <%= form.label :four_answer, 'あてはまらない' %>
      </div>
    </div>
  </div>

    <br>

  <!-- 質問5 --->
  <div class="d-flex justify-content-center text-center">
    <div class="answer_field">
      <div class="mb-2">1年を通して一度も活躍しなかった</div>
      <div class="shadow-sm p-3 mb-5 bg-light rounded">
        <%= form.radio_button :five_answer, :good_five, required: :firefox, id: "radio_button13" %>
        <%= form.label :five_answer, 'あてはまる', class: 'mr-5'%>
        <%= form.radio_button :five_answer, :normal_five, id: "radio_button14" %>
        <%= form.label :five_answer, 'どちらでもない', class: 'mr-5' %>
        <%= form.radio_button :five_answer, :bad_five, id: "radio_button15" %>
        <%= form.label :five_answer, 'あてはまらない' %>
      </div>
    </div>
  </div>

  <br>

  <div class="actions d-flex justify-content-center mb-3">
    <%= form.submit '診断する' %>
  </div>

<% end %>