<div class="container">
<h1>モノ一覧</h1>
<p><%= notice %></p>

<%= link_to '断捨離診断する', new_item_path %>
<%= link_to 'フラグ一覧を見る', flags_path %>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>ユーザーネーム</th>
        <th>名前</th>
        <th>カテゴリー</th>
        <th>ステータス</th>
        <th>更新日</th>
        <th class="record_th text-right"><%= "" %></th>
        <th class="record_th text-right"><%= t('view.button') %></th>
      </tr>
    </thead>
  <% @items.each do |item| %>
    <tr>
      <td><%= item.user.name %></td>
      <td><%= item.name %></td>
      <td><%= item.category %></td>
      <td><%= item.status %></td>
      <td><%= item.updated_at.strftime('%Y/%m/%d') %></td>
      <td><%= link_to '詳細を見る / 再診断', item_path(item.id), class: "btn btn-outline-dark" %></td>
      <td><%= link_to '編集', edit_item_path(item.id), class: "btn btn-outline-dark" %></td>
      <td><%= link_to '削除', item, method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-outline-dark" %></td>
    </tr>
  <% end %>
  </table>
</div>

<h4>カテゴリー別グラフ</h4>
<%= pie_chart @chart %>