<div class="container">
  <div class="row">
    <% if current_user.try(:admin?) %>
      <h2><%= @user.name %>のモノ一覧（管理者）</h2>
    <% else %>
      <h2><%= @user.name %>のモノ一覧</h2>
    <% end %>

    <%= link_to '断捨離診断する', new_item_path, class: "btn btn-outline-info mr-3 mt-3" %>
    <%= link_to 'フラグ一覧を見る', flags_path, class: "btn btn-outline-info mr-3 mt-3" %>
    <% if current_user.try(:admin?) %>
      <%= link_to '管理画面', rails_admin_path, class: "btn btn-outline-info mt-3" %>
    <% end %>
  </div>


  <div class="table table-hover text-center">
    <table>
      <thead>
        <tr>
          <th>モノ</th>
          <th>カテゴリー</th>
          <th>ステータス</th>
          <th>更新日</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    <% @items.each do |item| %>
      <tr>
        <td class="item_content"><%= item.name %></td>
        <td class="item_content"><%= item.category %></td>
        <td class="item_content"><%= item.status %></td>
        <td class="item_content"><%= item.updated_at.strftime('%Y/%m/%d') %></td>
        <td><%= link_to '詳細を見る / 再診断', item_path(item.id), class: "btn btn-outline-dark" %></td>
        <td><%= link_to '編集', edit_item_path(item.id), class: "btn btn-outline-dark" %></td>
        <td><%= link_to '削除', item, method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-outline-dark" %></td>
      </tr>
    <% end %>
    </table>

    <div class="category-chart ">
      <h4 class="text-center mt-3">カテゴリー別グラフ</h4>
      <%= pie_chart @chart %>
    </div>
  </div>

</div>
