<div class="container d-flex flex-column justify-content-center align-items-center">
  <h1>詳細画面</h1>
  <p><%= notice %></p>

<table class="item-content table-reflow text-center bg-light">
  <thead>
    <tr>
      <th></th>
      <th>モノ:</th>
      <th>写真: </th>
      <th>カテゴリー:</th>
      <th>ステータス:</th>
      <th>コメント:</th>
      <th>最終更新日:</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td><%= @item.name %></td>
      <td style="width: 220px;"><%= image_tag @item.image.url %></td>
      <td><%= @item.category %></td>
      <td><%= @item.status %></td>
      <td style="width: 220px;"><%= @item.comment %></td>
      <td><%= @item.updated_at.strftime('%Y/%m/%d') %></td>
      <td><%= link_to '編集', edit_item_path(@item.id), class: "btn btn-outline-dark" %></td>
      <td><%= link_to '削除', @item, method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-outline-dark" %></td>
    </tr>
  </tbody>
</table>

<% @item.user_id == current_user.id %>
  <% if @flag.present? %>
    <%= link_to 'フラグを解除する', flag_path(id: @flag.id), method: :delete %>
  <% else %>
    <%= link_to 'フラグを立てる', flags_path(item_id: @item.id), method: :post %>
  <% end %>

<h3 class="mt-5 mb-4">断捨離診断</h3>

</div class="">
  <div class="">
      <% if @item.category == "衣料品"%>
        <div id="clothes_diagnoses_area" class="">
          <%= render partial: 'clothes_diagnoses/form', locals: { clothes_diagnosis: @clothes_diagnosis, item: @item } %>
        </div>
        <div class="">
          <%= render partial: 'clothes_diagnoses/index', locals: { clothes_diagnoses: @clothes_diagnoses, item: @item } %>
        </div>
      <% elsif @item.category == "日用品"%>
        <%= render partial: 'goods_diagnoses/form', locals: { goods_diagnosis: @goods_diagnosis, item: @item } %>
        <div id="goods_diagnoses_area">
          <%= render partial: 'goods_diagnoses/index', locals: { goods_diagnoses: @goods_diagnoses, item: @item } %>
        </div>
      <% elsif @item.category == "書籍"%>
        <%= render partial: 'book_diagnoses/form', locals: { book_diagnosis: @book_diagnosis, item: @item } %>
        <div id="book_diagnoses_area">
          <%= render partial: 'book_diagnoses/index', locals: { book_diagnoses: @book_diagnoses, item: @item } %>
        </div>
      <% elsif @item.category == "その他"%>
        <%= render partial: 'other_diagnoses/form', locals: { other_diagnosis: @other_diagnosis, item: @item } %>
        <div id="other_diagnoses_area">
          <%= render partial: 'other_diagnoses/index', locals: { other_diagnoses: @other_diagnoses, item: @item } %>
        </div>
      <% else %>
        <p>診断ができません。カテゴリーを選択してください。</p>
      <% end %>
  </div>
</div>

  <%= link_to "編集する", edit_item_path %> |
  <%= link_to "モノ一覧画面にもどる", items_path %>
